!
! ~/.Xresources by https://github.com/HmJustHanna
! thank you https://www.askapache.com/linux/rxvt-xresources/
!
! default xterm colors
! except white
!
! special
*.foreground:   #929292
*.background:   #000000
*.cursorColor:  #929292

! black
*.color0:   #000000
*.color8:   #808080

! red
*.color1:   #800000
*.color9:   #ff0000

! green
*.color2:   #008000
*.color10:  #00ff00

! yellow
*.color3:   #808000
*.color11:  #ffff00

! blue
*.color4:   #000080
*.color12:  #0000ff

! magenta
*.color5:   #800080
*.color13:  #ff00ff

! cyan
*.color6:   #008080
*.color14:  #00ffff

! white
*.color7:   #ffffff
*.color15:  #ffffff

! URXVT

! COLORS to MAN

URxvt.colorIT:      yellow
URxvt.colorBD:      white
URxvt.colorUL:      magenta


URxvt.font:             xft:Hack Nerd Font:size=12
URxvt.boldFont:         xft:Hack Nerd Font:bold:size=12

! URxvt.font:             xft:DejaVu Sans Mono:size=12
! URxvt.boldFont:         xft:DejaVu Sans Mono:bold:size=12

URxvt.visualBell:       false
URxvt.pointerBlank:     true

URxvt*scrollBar:        false
URxvt*cursorBlink:      false
URxvt*saveLines:        4096
! URxvt*internalBorder:   0
! URxvt*transparent:      1
! URxvt*shading:          25
! URxvt*fading:           40
! URxvt*dynamicColors: on

! KEYBINDINGS

URxvt.iso14755:                 false

! EXTENSIONS

URxvt.perl-ext-common:  default-confirm-paste,searchable-scrollback,eval,font-size

URxvt.keysym.M-K: eval:scroll_up 1
URxvt.keysym.M-J: eval:scroll_down 1
URxvt.keysym.M-g: eval:scroll_to_top
URxvt.keysym.M-G: eval:scroll_to_bottom

URxvt.keysym.C-9: font-size:show

